{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template repository_zatuk/filter
    Example context (json):
    {
        "all": "true",
        "inprogress": "true",
        "published": "5",
        "title": "title",
        "uploadeddate": ""
    }
}}
<div class="d-flex mb-2 align-items-center flex-wrap">
    <div class="dropdown mb-1">
        <div data-region="filter" class="d-flex align-items-center flex-wrap" aria-label="{{#str}} aria:controls, repository_zatuk {{/str}}">
            <button data-filter="status" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" 
                    aria-expanded="false" aria-label="{{#str}} aria:statusfilterdropdown, repository_zatuk {{/str}}">
                {{#pix}} i/filter {{/pix}}
                <span class="d-sm-inline-block" data-active-item-text>
                    {{#all}}{{#str}} allvideos, repository_zatuk {{/str}}{{/all}}
                    {{#inprogress}}{{#str}} inprogress, repository_zatuk {{/str}}{{/inprogress}}
                    {{#published}}{{#str}} published, repository_zatuk {{/str}}{{/published}}
                </span>
            </button>
            <ul class="dropdown-menu" role="menu" data-show-active-item data-skip-active-class="true" data-active-item-text aria-labelledby="statusfilter">
                <li>
                    <a class="dropdown-item" href="#" data-filter="statusfilter" data-value="all" data-pref="all" aria-label="{{#str}} aria:allcourses, repository_zatuk {{/str}}" 
                       aria-controls="zatuk-list-container" role="menuitem" {{#all}}aria-current="true"{{/all}}>
                        {{#str}} allvideos, repository_zatuk {{/str}}
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#" data-filter="statusfilter" data-value="inprogress" data-pref="inprogress" aria-label="{{#str}} aria:inprogress, repository_zatuk {{/str}}" 
                       aria-controls="zatuk-list-container" role="menuitem" {{#inprogress}}aria-current="true"{{/inprogress}}>
                        {{#str}} inprogressvideos, repository_zatuk {{/str}}
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#" data-filter="statusfilter" data-value="published" data-pref="published" aria-label="{{#str}} aria:published, repository_zatuk {{/str}}" 
                       aria-controls="zatuk-list-container" role="menuitem" {{#published}}aria-current="true"{{/published}}>
                        {{#str}} publishedvideos, repository_zatuk {{/str}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="mb-1 ml-1 d-flex">
        <div data-region="filter"  class="dropdown">
            <button data-filter="sorting" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false" 
                    aria-label="{{#str}} aria:sortingdropdown, repository_zatuk {{/str}}">
                {{#pix}} t/sort_by {{/pix}}
                <span class="d-sm-inline-block" data-active-item-text>
                    {{#title}}{{#str}} videotitle, repository_zatuk {{/str}}{{/title}}
                    {{#uploadeddate}}{{#str}} uploadeddate, repository_zatuk {{/str}}{{/uploadeddate}}
                </span>
            </button>
            <ul class="dropdown-menu" role="menu" data-show-active-item data-skip-active-class="true" aria-labelledby="sortfilter">
                <li>
                    <a class="dropdown-item" href="#" data-filter="sortfilter" data-pref="title" data-value="fullname" aria-label="{{#str}} aria:title, repository_zatuk {{/str}}" 
                        aria-controls="zatuk-list-container" role="menuitem" {{#title}}aria-current="true"{{/title}}>
                        {{#str}} videotitle, repository_zatuk {{/str}}
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#" data-filter="sortfilter" data-pref="uploadeddate" data-value="uploadeddate" aria-label="{{#str}} aria:uploadeddate, repository_zatuk {{/str}}" 
                       aria-controls="zatuk-list-container" role="menuitem" {{#uploadeddate}}aria-current="true"{{/uploadeddate}}>
                        {{#str}} uploadeddate, repository_zatuk {{/str}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="ml-1 mb-1">
        <div data-region="query" class="d-flex align-items-center flex-wrap" aria-label="{{#str}} aria:controls, repository_zatuk {{/str}}">
            <span data-fieldtype="text">
            <input type="text" class="form-control " name="query" id="id_query" data-filter="searchfilter" data-pref="searchfilter" data-value=""  value="" placeholder="Title search">
            </span>
            <span class="ml-1" data-fieldtype="submit">
                <input type="submit" data-filter="search" class="btn btn-primary" name="search" id="id_search" value="{{#str}} search, repository_zatuk {{/str}}">
            </span>
        </div>
    </div>
</div>

{{#js}}
    require(['repository_zatuk/filters'], function(filters) {
        filters.filter('[data-filter="status"]', '[data-filter="sorting"]', '[data-filter="search"]');
    });
{{/js}}